@import url(./../styles/owl.carousel.css);
@import url(./../styles/owl.theme.default.css);
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%; }

.header {
  position: absolute;
  width: 100%;
  padding-top: 1rem;
  z-index: 4; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 300;
  font-stretch: semi-condensed; }
  .nav.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #2e3336; }
    .nav.active .nav__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      font-size: 2rem;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .nav.active .nav__item {
      margin: 0 0 20px 0; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.875rem; }

.nav_link {
  text-decoration: none;
  color: #ffffff; }

@media (max-width: 768px) {
  .nav {
    display: none; } }

@media (max-width: 480px) {
  .nav {
    display: none; } }

.promo {
  background: url(./../../img/bg/promo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .promo__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1100px; }
  .promo__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 9.375rem;
    max-width: 100%;
    height: auto;
    width: 50%; }
  .promo__message {
    font-size: 1.125rem;
    font-weight: 100;
    font-stretch: semi-condensed;
    width: 80%; }
  .promo__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    color: #fff;
    padding-bottom: 3rem; }
  .promo__heading {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    height: auto; }
  .promo__foto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    right: 1.125rem; }
  .promo__img2 {
    position: absolute;
    top: 18rem;
    right: 0; }

@media (max-width: 768px) {
  .promo__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .promo__content {
    margin-top: 0; }
  .promo__foto {
    left: 4.375rem;
    height: 29.5rem;
    top: 2%; }
  .promo__img1 {
    position: absolute;
    width: 60%; }
  .promo__img2 {
    position: relative;
    width: 60%;
    bottom: 100%; }
  .form__buttons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

@media (max-width: 480px) {
  .promo__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .promo__content {
    margin-top: 0px;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .promo__title {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .promo__heading {
    text-align: center; }
  .promo__message {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto; }
  .promo__foto {
    height: 40%;
    left: 25%;
    right: 23%;
    width: 100%; }
  .promo__img1 {
    max-height: 100%;
    top: 1.5rem; }
  .promo__img2 {
    height: 60%;
    top: 9.5rem;
    right: auto; }
  .form__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.why {
  background: url(./../../img/bg/why.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative; }

.why__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.why__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-height: 100%; }

.why__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 60vh; }

.why__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 3rem;
  font-stretch: semi-condensed;
  font-weight: 700;
  font-style: normal;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 1rem; }

.why__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  font-stretch: semi-condensed;
  color: #666666; }

@media (max-width: 768px) {
  .why__content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 56%; }
  .why__title {
    width: auto; } }

@media (max-width: 480px) {
  .why__content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%; }
  .why__title {
    width: auto; } }

.reviews {
  background: url(./../../img/bg/reviews.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative; }

.reviews__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.reviews__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.25rem; }

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #f8faf9;
  padding: 3.125rem 1.25rem 2.25rem 3rem; }

.reviews__pic {
  width: 15.625rem;
  height: 16.25rem;
  padding-right: 1.25rem;
  -o-object-fit: cover;
  object-fit: cover; }

.reviews__subtitle_text {
  font-size: 1.875rem;
  font-weight: 500;
  padding-bottom: 1.875rem; }

.reviews__desc {
  width: 53%; }

.reviews__name {
  font-size: 1.12rem;
  font-weight: 500;
  padding-top: 1.875rem;
  color: #666666; }

.reviews__message {
  font-size: 1.12rem;
  color: #666666; }

@media (max-width: 768px) {
  .reviews__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .reviews__desc {
    width: 100%;
    text-align: center; }
  .reviews__pic {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0px;
    width: 7.75rem;
    height: 7.8rem;
    margin-bottom: 1.25rem; }
  .reviews__item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 480px) {
  .reviews__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .reviews__desc {
    width: 100%;
    text-align: center; }
  .reviews__pic {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0px;
    width: 7.75rem;
    height: 7.8rem;
    margin-bottom: 1.25rem; }
  .reviews__item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.thumb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  padding-top: 5rem; }

.thumb__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-decoration: none;
  color: #ffffff;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-weight: 200; }

.promo__icon {
  padding-right: 0.625rem;
  fill: none;
  stroke: #b0f7ff;
  width: 3.75rem;
  height: 2.5rem; }

.btn {
  border-color: white;
  padding: 1.125rem 1.75rem;
  background-color: #ffffff;
  border-radius: 2rem;
  color: #0f5a47;
  font-size: 1.125rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold; }

.btn__form {
  color: #ffffff;
  background-color: #0f5a47;
  border-color: #0f5a47; }

.btn__bar {
  color: #ffffff;
  background-color: #0f5a47;
  border-color: #0f5a47; }

.contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  padding-left: 5px; }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #0f5a47; }

.contacts__phone-footer {
  color: #0f5a47;
  text-decoration: none; }

.contacts__icon-footer {
  background: #0f5a47; }

@media (max-width: 768px) {
  .contacts {
    display: none; } }

@media (max-width: 480px) {
  .contacts {
    display: none; } }

.logo {
  color: #ffffff;
  font-size: 1.5rem;
  text-decoration: none;
  width: 10%;
  text-transform: uppercase; }

.features__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.fetures__info {
  text-align: center; }

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  padding-top: 2.5rem;
  padding-bottom: 0px; }

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 4rem; }

.features__subtitle_text {
  font-size: 1.69rem;
  padding-bottom: 1.5rem;
  padding-top: 2rem; }

.features__message {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  line-height: 1.67em;
  color: #666666; }

.icon__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6.94rem;
  height: 6.94rem;
  border-radius: 50%;
  background: #f2f5f4;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.features__icon {
  fill: none;
  stroke: #2a2a29;
  width: 4.375rem;
  height: 4.375rem; }

@media (max-width: 768px) {
  .features__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: auto;
    padding-top: 1rem; }
  .features__item {
    padding: 0; }
  .features__subtitle_text {
    padding-bottom: 1rem; }
  .features__subtitle_text {
    padding-bottom: 1rem;
    padding-top: 1rem; } }

@media (max-width: 480px) {
  .features__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: auto; }
  .features__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 2rem; }
  .fetures__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 1.125rem;
    width: 100%; }
  .features__message {
    text-align: left; }
  .icon__box {
    width: 35%; } }

.reviews__foto_pic {
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover; }

.reviews__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.reviews__foto_pic:hover {
  border: 5px solid #0f5a47;
  width: 5rem;
  height: 5rem;
  border-radius: 50%; }

.scroll {
  position: fixed;
  color: #fff;
  right: 3.125rem;
  top: 6.25rem;
  z-index: 10; }

.scroll__item {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-top: 4px;
  position: relative; }

.scroll__item--active {
  border-color: #fff; }

.scroll__link {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer; }

@media (max-width: 768px) {
  .scroll {
    display: none; } }

@media (max-width: 480px) {
  .scroll {
    display: none; } }

.team {
  background: url(./../../img/bg/berryteam.png), url(./../../img/bg/team.png);
  background-repeat: no-repeat;
  background-size: 6.875rem 6.875rem, cover;
  background-position: left bottom, center center;
  height: 100vh;
  position: relative; }

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.team__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 3rem;
  text-transform: uppercase;
  padding-bottom: 1.25rem;
  text-align: center; }

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(100% / 4 - 1.25rem);
  padding-left: 1.25rem;
  -o-object-fit: cover;
  object-fit: cover; }

.team__pic {
  -o-object-fit: cover;
  object-fit: cover;
  width: 14rem; }

.accordion__team {
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 1.5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.accordion__team:hover .accordion__child {
  opacity: 1; }

.accordion__label-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.31rem;
  font-weight: 600;
  color: #323232; }

.accordion__child {
  /*position: absolute;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff;
  padding: 0px;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s; }

.accordion__child:before {
  content: "";
  display: block;
  left: 0;
  right: 0;
  position: absolute; }

.accordion__position {
  font-size: 1.125rem; }

@media (max-width: 768px) {
  .team__item {
    width: calc(100% / 2 - 3.5rem); } }

@media (max-width: 480px) {
  .team__item {
    width: calc(100% / 2 - 10px); }
  .team__pic {
    width: calc( 100% - 1.25rem); } }

.menu {
  position: relative;
  height: 100vh;
  background: url(./../../img/bg/menu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .menu__list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: lr-tb;
    writing-mode: horizontal-tb; }
  .menu__item {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .menu__trigger {
    display: block;
    width: 5rem;
    text-decoration: none;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    color: white;
    font-size: 3rem;
    background: #000;
    background-size: cover; }
  .menu__description {
    width: 0; }
  .menu__item :hover .menu__description {
    padding: 3.125rem 1.875rem;
    width: 27rem;
    color: white;
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover; }

@media (max-width: 480px) {
  .menu__list {
    width: 100%; } }

.map {
  background: url(./../../img/bg/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative; }

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #ffffff;
  padding-top: 1.625rem; }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer__text {
    width: 50%; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .social__item {
    padding-left: 1.125rem; }
  .social__icon {
    fill: #b2b2b2;
    stroke: #b2b2b2;
    width: 1.25rem;
    height: 1.25rem; }
    .social__icon :hover {
      fill: #000000;
      stroke: #000000; }

.form {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background: url(./../../img/bg/form.jpg);
  height: 100vh;
  position: relative; }
  .form__elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .form__label {
    margin-left: 1.2rem;
    width: 100%; }
    .form__label-radio {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .form__label-checkbox {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .form__label:first-child {
      margin-left: 0; }
  .form__label-checkbox {
    margin-top: 1.125rem; }
  .form__col {
    width: 50%;
    margin-top: 2.875rem;
    margin-left: 1.25rem; }
    .form__col:first-child {
      margin-left: 0; }
  .form__checkbox {
    margin-right: 0.625rem; }
  .form__textarea {
    min-height: 7.735rem;
    resize: none; }
  .form__label-title {
    font-family: "Alegreya Sans";
    font-size: 1.125rem;
    font-weight: 500;
    color: #0f5a47;
    padding-bottom: 0.5rem;
    margin-right: 1.25rem; }
  .form__input {
    border: 6px solid transparent;
    border-radius: 2px;
    padding: 0.6825rem 1.25rem;
    margin-bottom: 1.25rem;
    outline: none;
    width: 100%; }
    .form__input-radio {
      margin-right: 0.625rem; }
  .form__question {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .form__button {
    margin-top: 1.25rem; }

.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%; }

.form__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  color: #0f5a47;
  margin-top: 3rem; }

.form__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3.5rem;
  font-weight: 600;
  text-transform: uppercase;
  height: auto;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: center; }

.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.button__reset {
  color: #0f5a47;
  padding-left: 1.625rem; }

@media (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .form__col {
      width: 80%; }
    .form__elem {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-top: 1rem; }
    .form__col {
      margin: 0; }
    .form__row {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .form__label-radio {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .form__label-checkbox {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

@media (max-width: 480px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .form__col {
      width: 80%; } }

.gamburger {
  display: none;
  position: relative;
  z-index: 3; }

@media (max-width: 768px) {
  .gamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .gamburger__icon {
    stroke: white;
    fill: white;
    height: 1.625rem;
    width: 1.625rem; } }

.bar {
  background: url(./../../img/bg/bar.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .bar__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 1100px; }
  .bar__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 95%; }
  .bar__content-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto; }
  .bar__list {
    padding: 0;
    width: 90%; }
  .bar__list-menu {
    padding: 0; }
  .bar__foto {
    -o-object-fit: cover;
    object-fit: cover;
    width: 23rem;
    height: 23rem; }
  .bar__image {
    -o-object-fit: cover;
    object-fit: cover;
    width: 22rem;
    height: 22rem; }
  .bar__desc {
    padding-left: 5rem;
    width: 48%; }
  .bar__composition-button {
    position: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #00accf;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 4px;
    color: #ffffff;
    z-index: 5; }
  .bar__title {
    padding: 2rem 0 1rem 0; }
  .bar__candy {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 1.25rem;
    width: 3.375rem;
    height: 3.375rem;
    stroke: #ffffff;
    fill: #ffffff; }
  .bar__candy-title {
    font-weight: 700; }
  .bar__heading {
    font-size: 2.25rem;
    font-weight: 600;
    text-transform: uppercase;
    height: auto; }
  .bar__message {
    font-weight: 1.125rem;
    color: #7f7f7f;
    padding-bottom: 2.75rem; }
  .bar__list-composition {
    padding: 0;
    width: 90%; }
  .bar__feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 2rem; }
  .bar__ccal {
    width: 50%;
    font-weight: 900; }
  .bar__ccal-title {
    font-weight: 500; }
  .bar__heft {
    font-weight: 900; }
  .bar__heft-title {
    font-weight: 500; }
  .bar__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .bar__cost {
    width: 50%;
    font-size: 3.75rem;
    font-weight: 100; }
  .bar__composition-image {
    width: 2.5rem;
    height: 2.5rem; }

.bar__button {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.bar__button_next {
  left: auto;
  right: 0px; }

@media (max-width: 768px) {
  .bar__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .bar__composition {
    margin-left: 75%; }
  .bar__content-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .bar__desc {
    width: 90%;
    text-align: center;
    padding: 0; }
  .bar__list-menu {
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.bar__composition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 9.5rem; }

.bar__composition-table {
  display: none;
  background-color: #ffffff;
  table-layout: auto; }
  .bar__composition-table.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 16.875rem;
    height: 24.375rem;
    z-index: 2; }

@media (max-width: 768px) {
  .bar__composition {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin: auto;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end; }
    .bar__composition.activ.bar__composition-button {
      margin: 0; } }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

html {
  font-size: 16px; }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0; }

body {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: rem 16px;
  vertical-align: baseline; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

.container {
  width: 68.75rem;
  margin: 0 auto;
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.button {
  border: none;
  background: transparent;
  cursor: pointer; }

.ul,
p,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

.a {
  text-decoration: none; }

.wrapper {
  overflow: hidden;
  width: 100%; }

@media (max-width: 768px) {
  html {
    font-size: 13px; }
  .container {
    max-width: 600px; }
  .map__container {
    width: 100%; }
  .team__item {
    width: calc(100% / 2 - 20px); }
  .menu-gamburger__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .menu-gamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .gamburger__icon:hover .gamburger__list {
    opacity: 1; }
  .gamburger__icon {
    stroke: white;
    fill: white;
    height: 1.625rem;
    width: 1.625rem; }
  .gamburger__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff;
    padding: 0px;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s; }
  .gamburger__list:before {
    content: "";
    display: block;
    left: 0;
    right: 0;
    position: absolute; }
  .contacts {
    display: none; } }

@media (max-width: 480px) {
  html {
    font-size: 11px; }
  .container {
    max-width: 300px; }
  .map__container {
    width: 100%; } }

@font-face {
  font-family: "AlegreyaSans", sans-serif;
  src: url(./../../fonts/AlegreyaSans-Black.ttf);
  font-weight: 900; }

@font-face {
  font-family: "AlegreyaSans", sans-serif;
  src: url(./../../fonts/AlegreyaSans-BlackItalic.ttf);
  font-style: italic;
  font-weight: 900; }

@font-face {
  font-family: "AlegreyaSans", sans-serif;
  src: url(./../../fonts/AlegreyaSans-Bold.ttf);
  font-weight: bold; }

@font-face {
  font-family: "AlegreyaSans", sans-serif;
  src: url(./../../fonts/AlegreyaSans-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "AlegreyaSans", sans-serif;
  src: url(./../../fonts/AlegreyaSans-Italic.ttf);
  font-style: italic; }

@font-face {
  font-family: "AlegreyaSans", sans-serif;
  src: url(./../../fonts/AlegreyaSans-Light.ttf);
  font-weight: 300; }

@font-face {
  font-family: "AlegreyaSans", sans-serif;
  src: url(./../../fonts/AlegreyaSans-LightItalic.ttf);
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "AlegreyaSans", sans-serif;
  src: url(./../../fonts/AlegreyaSans-Medium.ttf);
  font-weight: 600; }

@font-face {
  font-family: "AlegreyaSans", sans-serif;
  src: url(./../../fonts/AlegreyaSans-MediumItalic.ttf);
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: "AlegreyaSans", sans-serif;
  src: url(./../../fonts/AlegreyaSans-Regular.ttf);
  font-weight: 600; }

@font-face {
  font-family: "AlegreyaSans", sans-serif;
  src: url(./../../fonts/AlegreyaSans-Thin.ttf);
  font-weight: 200; }

@font-face {
  font-family: "AlegreyaSans", sans-serif;
  src: url(./../../fonts/AlegreyaSans-ThinItalic.ttf);
  font-weight: 200;
  font-style: italic; }
