html,
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0; 
}

  body {
    font-family: 'Alegreya Sans', sans-serif;
    vertical-align: baseline;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

.container {
width: 58.75rem;
  margin: 0 auto;
  height: 100%;
 }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.button {
  border: none;
  background: transparent;
  cursor: pointer; }

.ul,
p,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.a {
  text-decoration: none;
}

.wrapper{
  overflow: hidden;
  width: 100%;
  position: relative;
}

.maincontent{
  height: 100%;
  transition: transform 1s;
}

@media (max-width: 768px) {
  .container {width: 50rem;
    max-width: 95%;
  }
  .map__container {width: 100%}
  .team__item {
    width: calc(100% / 2 - 20px);
  }
}

@media (max-width: 480px) {
  .container {width: 40rem;}
  .map__container {width: 100vw;}
}