.contacts__phone{
  display: flex;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
 font-weight: 400;
 padding-left: 5px;
}

.contacts{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.contacts__phone-footer{
  color: #0f5a47;
  text-decoration: none;
}

@media (max-width: 768px){
.contacts {
  display: none;
}
}
  
@media (max-width: 480px){
  .contacts {
    display: none;
  }
}