.features__content{
  display: flex;
  flex-direction: row;
}

.features__list{
  display: flex;
  padding: 0;
  margin-top: 2.5rem;
  margin-bottom: 0px;
}

.features__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 0.625rem;
}

.features__subtitle_text{
  font-size: 1.69rem;
  margin-bottom: 1.5rem;
}

.features__message{
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  line-height: 1.67em;
  color: #666666;
}

.icon__box{
  display: flex;
  width: 6.94rem;
  height: 6.94rem;
  border-radius: 50%;
  background: #f2f5f4;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.features__icon{
  fill: none;
  stroke: #2a2a29;
  width: 4.375rem;
  height: 4.375rem;
}

@media (max-width: 768px){
  .features__list{
    flex-direction: column;
    width: auto;
}
.features__subtitle_text{
  margin-bottom: 1rem;
}
}

@media (max-width: 480px){

  .features__list {
    flex-direction: column;
    width: auto;
}
.features__item{
  flex-direction: row;
  padding: 0;
  align-items: center;
  margin-bottom: 2rem;
}
.fetures__info{
flex-direction: column;
width: 100%;
}
.features__message{
  text-align: left;
}
.icon__box{
  margin-right: 0.8rem;
  width: 35%;
  margin-bottom: 0;
}

}