.menu{ 
  position: relative;
  height: 100vh;
 background: url(./../../img/bg/menu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
 

  &__list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    display: flex;
    writing-mode: horizontal-tb;

  }

  &__item {
    height: 100%;
    display: flex;
  }

  &__trigger {
    display: block;
    width: 5rem;
    text-decoration: none;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: white;
    font-size: 3rem;
    background: #000;
  }

  &__trigger-text{
    
  }
  
  &__description {
    width: 0;
  }

  
  &__item.active {
    .menu__description {
      padding: 3.125rem 1.875rem;
      width: 27rem;
      color: white;
      font-weight: 100;
      background-color: rgba(0,0,0,.6);
    }
  }
}

