.nav{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 300;
  font-stretch: semi-condensed;

&.active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #2e3336;
    .nav__list {
      flex-direction: column;
      font-size: 2rem;
    }

    .nav__item {
      margin: 0 0 20px 0;
    }
}
}

.nav__list{
  display: flex;
  flex-direction: row;
}

.nav__item{
  display: flex;
  margin-right: 1.875rem;
}

.nav_link{
  text-decoration: none;
  color: #ffffff;
}



@media (max-width: 768px){
.nav{
  display: none;
}

}

@media (max-width: 480px){
  .nav{
    display: none;
  }
}
