.promo {
background:url(./../../img/bg/scheet2.png), url(./../../img/bg/scheet.png), url(./../../img/bg/bars.png), url(./../../img/bg/promo.png);
background-repeat: no-repeat;
background-size: 76px 106px, 500px 370px, 500px 500px, cover;
background-position:left bottom, right bottom, right center, center center;
position: relative;
height: 100vh;
justify-content: center;
}

.promo__container{
  display: flex;
  height: 100%;
  align-items: center;
}

.promo__content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 150px;
  max-width: 100%;
  height: auto;
  width: 50%;
}

.promo__message{
  font-size: 21px;
  font-weight: 100;
  font-stretch: semi-condensed;
  width: 80%;
}

.promo__title{
  display: flex;
  flex-direction: column;
  height: auto;
  color: #fff;
  margin-bottom: 48px;
}

.promo__heading{
  display: flex;
  font-size: 56px;
  font-weight: 600;
  text-transform: uppercase;
  height: auto;
}

.promo__icon{
  display: flex;
}