.promo {
background: url(./../../img/bg/scheet2.png), url(./../../img/bg/scheet.png), url(./../../img/bg/Батончики.png), url(/img/bg/promo.jpg);
background-repeat: no-repeat;
background-size: 4.75rem 6.625rem, 31.25rem 23.125rem, 31.25rem 31.25rem, cover;
background-position: 0% 100%, right bottom, right center, center center;
position: relative;
height: 100vh;
justify-content: center;
}

.promo__container{
  display: flex;
  height: 100%;
  align-items: center;
}

.promo__content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 9.375rem;
  max-width: 100%;
  height: auto;
  width: 50%;
}

.promo__message{
  font-size: 21px;
  font-weight: 100;
  font-stretch: semi-condensed;
  width: 80%;
}

.promo__title{
  display: flex;
  flex-direction: column;
  height: auto;
  color: #fff;
  margin-bottom: 3rem;
}

.promo__heading{
  display: flex;
  font-size: 3.5rem;
  font-weight: 600;
  text-transform: uppercase;
  height: auto;
}

.promo__icon{
  display: flex;
}

@media (max-width: 768px) {
  .promo__container{
    align-items: flex-end;
    justify-content: center;
  }

.promo__content{
width: auto;
height: 50%;
align-items: flex-end;
justify-content: center;
margin-top: 0;
flex-direction: column;
}
.form__buttons{
  justify-content: center;
  align-items: center;
}
.promo__title{
  align-items: center;
}
.promo{
  background-position:19% 36%, 50% 30%, 50% 10%,center center;
}

}

@media (max-width: 480px) {
  .promo__container{
    align-items: flex-end;
    justify-content: center;
  }
  .promo__content{
width: auto;
height: 50%;
align-items: flex-end;
justify-content: center;
margin-top: 0;
flex-direction: column;
}
.form__buttons{
  justify-content: center;
  align-items: center;
}
.promo__title{
  align-items: center;
}
.promo{
  background-position:19% 36%, 50% 30%, 50% 10%,center center;
}

}