.reviews {
  background: url(./../../img/bg/reviews.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative;
}

.reviews__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.reviews__heading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.25rem;
}

.reviews__item{
  display: none;
}

.reviews__item--activ{
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color:  #f8faf9;
  padding: 3.125rem 1.25rem 2.25rem 3rem;
}


.reviews__pic{
  width: 15.625rem;
  height: 16.25rem;
  padding-right: 1.25rem;
  object-fit: cover;
}

.reviews__subtitle_text{
  font-size: 1.875rem;
  font-weight: 500;
  padding-bottom: 1.875rem;
}

.reviews__desc{
  width: 53%;
}

.reviews__name{
  font-size: 1.12rem;
  font-weight: 500;
  padding-top: 1.875rem;
  color: #666666;
}

.reviews__message{
  font-size: 1.12rem;
  color: #666666;
}


@media (max-width: 768px){
  .reviews{
    &__item{
      display: flex;
      flex-direction: column;
      justify-content: center ;
    }
  
    &__desc{
      width: 100%;
      text-align: center;
    }
    
     &__pic{
      align-items: center;
      justify-content: center;
      padding: 0px;
      width: 7.75rem;
      height: 7.8rem;
      margin-bottom: 1.25rem;
    }
  
    &__item{
      align-items: center;
      justify-content: center;
    }
  
  }
}


@media (max-width: 480px){
.reviews{
  &__item{
    display: flex;
    flex-direction: column;
    justify-content: center ;
  }

  &__desc{
    width: 100%;
    text-align: center;
  }
  
   &__pic{
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 7.75rem;
    height: 7.8rem;
    margin-bottom: 1.25rem;
  }

  &__item{
    align-items: center;
    justify-content: center;
  }

}
}