.thumb__list{
display: flex;
padding: 0px;
margin-top: 80px;
}
  
.thumb__item{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #ffffff;
  justify-content: space-around;
  font-weight: 200;
}

.promo__icon{
  padding-right: 0.625rem;
  fill: none;
  stroke: #b0f7ff;
  width: 3.75rem;
  height: 2.5rem;
}