.thumb__list{
display: flex;
padding: 0px;
margin-top: 80px;
}
  
.thumb__item{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #ffffff;
  justify-content: space-around;
  font-weight: 200;
}

.thumb__image{
  padding-right: 10px;
}