.presentation{
  height: 100vh;


  &__title{
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  }
  
  &__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.player__video{
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__start{
background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; 
}



.player__scale{
  display: block;
  width: 660px;
  height: 36px;
  background-color: #3e3e3e;

}

.play__button{
  display: flex;
  background: transparent url(./../../img/icon/Play-gray.png);
  width: 20px;
  height: 20px;
  border: 0;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
    margin: 10px 6px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-decoration: none;
}

.play__progress{
    width: 448px;
    height: 4px;
    cursor: pointer;
   margin:0 45px;
    background-color: #626262;
}

.play__scrollbutton{
  position: absolute;
}

.play__sound{
  background-color: #626262;
  width: 70px;
}

.hidden{
  display: flex;
  align-items: center;
}