.why {
  background: url(./../../img/bg/why.png);
  background-repeat: no-repeat;
background-size: cover;
background-position: center center;
  height: 100vh;
  position: relative;
}

.why__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.why__title{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 45%;
}

.why__heading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-stretch: semi-condensed;
  font-weight: 700;
  font-style: normal;
  font-family: sans-serif;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.why__message{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  font-stretch: semi-condensed;
  color: #666666;
}

@media (max-width: 768px){
  .why__content{
    justify-content: center;
  }
  .why__title{
    width: auto;
  }
}

@media (max-width: 480px){
  .why__content{
    justify-content: center;
    height: 100%;
  }
  .why__title{
    width: auto;
  }
}