html,
body {
  width: 100%;
  margin: 0;
  padding: 0; }

  body {
    font-family: "AlegreyaSans", sans-serif;
    font-size: 16px;
    vertical-align: baseline;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

.container {
  width: 940px;
  margin: 0 auto;
 }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.button {
  border: none;
  background: transparent;
  cursor: pointer; }

.ul,
p,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.a {
  text-decoration: none;
}

//widht
$widht: 100%;

