html{
  font-size: 16px;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0; }

  body {
    font-family: 'Alegreya', sans-serif;
    font-size: rem (16px);
    vertical-align: baseline;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

.container {
  width: 1100px;
  margin: 0 auto;
  height: 100%;
 }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.button {
  border: none;
  background: transparent;
  cursor: pointer; }

.ul,
p,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.a {
  text-decoration: none;
}

.wrapper{
  overflow: hidden;
}

@media (max-width: 768px) {
  html {font-size: 14px;}
  .container {max-width: 600px}
  .map__container {width: 100%}
  .team__item {
    width: calc(100% / 2 - 20px);
  }
  .menu-gamburger__content{
    display: flex;
    flex-direction: column;
   
  }
  .menu-gamburger{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .gamburger__icon:hover .gamburger__list{
    opacity: 1;
  }
   .gamburger__icon{
     stroke: white;
     fill: white;
     height: 1.625rem;
     width: 1.625rem; 
   }
  
   .gamburger__list{
    display: flex;
    text-align: center;
    flex-direction: column;
      background: #fff;
      padding: 0px;
      width: 100%;
      opacity: 0;
      transition: opacity .4s;
   }
   .gamburger__list:before{
  content: "";
   display: block;
   left: 0;
   right: 0;
   position: absolute;
   }
   .contacts {
    display: none;
  }
}

@media (max-width: 480px) {
  html {font-size: 12px;}
  .container {max-width: 300px}
  .map__container {width: 100%}
}