.btn{
  border-color: white;
  padding: 1.125rem 1.75rem;
  background-color: #ffffff;
  border-radius: 2rem;
  color:#0f5a47;
  font-size: 1.125rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;

  @media (max-width:480px){
    font-size: 0.8rem;
    font-weight: 800;
  }
}

.btn__form{
  color: #ffffff;
  background-color: #0f5a47;
  border-color: #0f5a47;
}

.button__reset{
  font-size: 1.125rem;
  font-weight: 700;
  color:#0f5a47;
  border: none;
  background-color: transparent;
  margin-left: 0.5rem;
}

.btn__bar{
  color: #ffffff;
  background-color: #0f5a47;
  border-color: #0f5a47;
}

.bar__button {
  position: absolute;
  cursor: pointer;
  font-size: 26px;
  background-color: transparent;  
  z-index: 5;
  top: 50%;
  outline: none;
  border: none;
}

.bar__button_prev{
  transform: rotate(180deg);
 
  @media  (max-width: 768px) {
    right: 100%;
  }
}

.bar__icon{
  width: 20px;
  height: 40px;
  fill: #0d0d0d;
}

