.bar__composition{
  margin-left: 11rem;

  @media (max-width: 768px){
    margin-left: 0px;
  }
}


.bar__composition-table{
  display: none;
  background-color: #ffffff;
  table-layout: auto;
  position: absolute;
  z-index: 5;
 

  &.active{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6rem;
    width: 20rem;
    height: 24.375rem;
  }
}

@media (max-width: 768px){
  .bar__composition{
    display: flex;
    flex-direction: row-reverse;
    padding-left: 75%;
  }
 

  .bar__composition-table{
    &.active{
  margin: 0 auto;
  padding-right: 5.5rem;
    }
  }

}