.reviews__foto_pic{
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 50%;
  object-fit: cover;
}

.reviews__icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.reviews__foto_pic:hover{
  border: 5px solid #0f5a47;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}