.gamburger{
  display: none;
  position: relative;
  z-index: 3;
}

  @media (max-width: 768px){
        .gamburger{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
        .gamburger__icon{
       stroke: white;
       fill: white;
       height: 1.625rem;
       width: 1.625rem; 
     }   
     .menu-gamburger__content{
      display: flex;
      flex-direction: column;
     
    }
    .menu-gamburger{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .gamburger__icon:hover .gamburger__list{
      opacity: 1;
    }
    
     .gamburger__list{
      display: flex;
      text-align: center;
      flex-direction: column;
        background: #fff;
        padding: 0px;
        width: 100%;
        opacity: 0;
        transition: opacity .4s;
     }
     .gamburger__list:before{
    content: "";
     display: block;
     left: 0;
     right: 0;
     position: absolute;
     }
     .contacts {
      display: none;
    }

  }