.map__section{
  display: flex;
  
 background-color: #cfdeda;
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
height: 100vh;
position: relative;

}

.map{
  width: 100%;
  height: 100%;
}