.promo {
background-image: url(images/img/bg/promo.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
position: relative;
height: 100vh;
justify-content: center;

&__container{
  display: flex;
  align-items: center;
}

&__content{
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 9.375rem;
  max-width: 100%;
}

&__message{
  font-size: 21px;
  font-weight: 100;
  font-stretch: semi-condensed;
  width: 80%;
}

&__title{
  flex-direction: column;
  height: auto;
  color: #fff;
  padding-bottom: 3rem;
}

&__heading{
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  height: auto;
}

&__foto{
  display: flex;
 position: absolute;
  object-fit: cover;
  flex-direction: column;
 right:  1.125rem;
 margin-bottom: -20px;
}

&__img2{
  position: absolute;
  top: 18rem;
  right: 0;
}
}


@media (max-width: 768px) {
  .promo{
    height: 100%;
    
    &__content{
      display: flex;
      margin-top: 480px;
      align-items: center;
      padding-top: 0;
    }

    &__foto{
      left: 15%;
      top: 8%;
      width: 70%;
      height: 50%;
      height: 419px;
    }

&__img1{
  position: absolute;
  height: 24rem;
}
&__img2{
  position: relative;
  top: 36%;
  right: 9%;
  width: 247px;
  height: 265px;
}

&__title{
  text-align: center;
  /*width: 80%;*/
  margin: 0 auto;
  padding-bottom: 35px;
}

&__message{
  text-align: center;
  width: 338px;
  margin: 0 auto;
}
  }
  }  
.form__buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


@media (max-width: 480px) {
  .promo{
    &__heading{
    font-family: AlegreyaSans;
    font-weight: bold;
    font-size: 2rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.87;
    }
    &__img1{
      width: 19.8125rem;
      height: 20.625rem;
      right: 1%;
    }
    &__img2{
      width: 12.125rem;
      height: 13rem;
      left: 20%;
      top: 40%;
    }

    &__content{
      padding: 0;
      margin-top: 360px;
    }

    &__message{
      font-family: AlegreyaSans;
      font-size: 0.75rem;
    }
    &__title{
      padding-bottom: 25px;
    }
  }
}